html {
  font-family: Helvetica, Arial, sans-serif;
}

header{
  background-color: #0b80c3;
  width: 100%;
  height: 4em;/*80px;*/
  font-family: Helvetica, Arial, sans-serif;
  margin: -8px 0px 0px 0px;
  z-index: 9;
}

header img{
  height:90%;
  margin:4px 0px 0px 5px;
  float:left;
}


ul {
  list-style-type: none;
  margin: -8px -8px 0px -10px;
  padding: 0;
  overflow: hidden;

}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

li a:hover:not(.active) {
  background-color: #0e9ef1;
}

.active {
  background-color:#0e9ef1 ;
}

.logout {
  color: white;
  background-color: #0b80c3;
  border:none;
  padding: 14px 16px;
  float:right;
  font-family: Helvetica, Arial, sans-serif;
}

.logout:hover{
  background-color: #0e9ef1;
}

.sidebar{
  height: 100%;
  width: 160px;
  background-color: #0b80c3;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1; /* Stay on top */
  top: 0; /* Stay at the top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidebar .sidebar-left {
  float: left;
  left: 0;
}

.sidebar .sidebar-right {
  height: 100%;
  width: 160px;
  float: right;
  background-color: #0b80c3;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}


/* --old button styles--
.index_button{
  border: none;
  color: white;
  background-color:gray;
  border-radius:5px;
  box-shadow:5px 5px 4px lightgray;
  padding: 15px 30px 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.index_button:hover{
  color: white;
  background-color:#0077b3;
}

.center{
  position:relative;
  align-items: center;
  padding: 10px 10px

}

.histogram_button{
  border: none;
  color: white;
  background-color:gray;
  border-radius:5px;
  box-shadow:5px 5px 4px lightgray;
  padding: 15px 30px 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.histogram_button:hover{
  color: white;
  background-color:#0077b3;
}
*/
